[submodule "KeyBindings"]
  path = KeyBindings
  url = https://github.com/ttscoff/KeyBindings.git
  ignore = dirty
[submodule "vim/bundle/scrooloose-nerdtree"]
  path = vim/bundle/scrooloose-nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/bundle/tpope-vim-surround"]
  path = vim/bundle/tpope-vim-surround
  url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/bundle/tpope-vim-rails"]
  path = vim/bundle/tpope-vim-rails
  url = https://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "vim/bundle/tpope-vim-endwise"]
  path = vim/bundle/tpope-vim-endwise
  url = https://github.com/tpope/vim-endwise.git
  ignore = dirty
[submodule "vim/bundle/tpope-vim-pathogen"]
  path = vim/bundle/tpope-vim-pathogen
  url = https://github.com/tpope/vim-pathogen
  ignore = dirty
[submodule "vim/bundle/tpope-vim-fugitive"]
  path = vim/bundle/tpope-vim-fugitive
  url = https://github.com/tpope/vim-fugitive
  ignore = dirty
[submodule "vim/bundle/tpope-vim-git"]
  path = vim/bundle/tpope-vim-git
  url = https://github.com/tpope/vim-git
  ignore = dirty
[submodule "vim/bundle/vim-scripts-lastpos"]
  path = vim/bundle/vim-scripts-lastpos
  url = https://github.com/vim-scripts/lastpos.vim
  ignore = dirty
[submodule "vim/bundle/sjl-gundo"]
  path = vim/bundle/sjl-gundo
  url = https://github.com/sjl/gundo.vim
  ignore = dirty
[submodule "vim/bundle/nelstrom-vim-textobj-rubyblock"]
  path = vim/bundle/nelstrom-vim-textobj-rubyblock
  url = https://github.com/nelstrom/vim-textobj-rubyblock
  ignore = dirty
[submodule "vim/bundle/mattn-gist-vim"]
  path = vim/bundle/mattn-gist-vim
  url = https://github.com/mattn/gist-vim
  ignore = dirty
[submodule "vim/bundle/nathanaelkane-vim-indent-guides"]
  path = vim/bundle/nathanaelkane-vim-indent-guides
  url = https://github.com/nathanaelkane/vim-indent-guides
  ignore = dirty
[submodule "vim/bundle/kchmck-vim-coffee-script"]
  path = vim/bundle/kchmck-vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script
  ignore = dirty
[submodule "vim/bundle/kien-ctrlp"]
  path = vim/bundle/kien-ctrlp
  url = https://github.com/kien/ctrlp.vim
  ignore = dirty
[submodule "vim/bundle/tomtom-tlib_vim"]
  path = vim/bundle/tomtom-tlib_vim
  url = https://github.com/tomtom/tlib_vim.git
  ignore = dirty
[submodule "vim/bundle/skwp-vim-conque"]
  path = vim/bundle/skwp-vim-conque
  url = https://github.com/skwp/vim-conque
  ignore = dirty
[submodule "vim/bundle/gregsexton-gitv"]
  path = vim/bundle/gregsexton-gitv
  url = https://github.com/gregsexton/gitv
  ignore = dirty
[submodule "vim/bundle/mattn-webapi-vim"]
	path = vim/bundle/mattn-webapi-vim
	url = https://github.com/mattn/webapi-vim.git
  ignore = dirty
[submodule "vim/bundle/skwp-vim-powerline"]
	path = vim/bundle/skwp-vim-powerline
	url = https://github.com/skwp/vim-powerline.git
  ignore = dirty
[submodule "vim/bundle/vim-scripts-SearchComplete"]
	path = vim/bundle/vim-scripts-SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "vim/bundle/skammer-vim-css-color"]
	path = vim/bundle/skammer-vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "vim/bundle/ervandew-supertab"]
	path = vim/bundle/ervandew-supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/chriskempson-vim-tomorrow-theme"]
	path = vim/bundle/chriskempson-vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
  ignore = dirty
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "vim/bundle/airblade-vim-rooter"]
	path = vim/bundle/airblade-vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/epmatsw-ag"]
	path = vim/bundle/epmatsw-ag
	url = https://github.com/epmatsw/ag.vim.git
[submodule "vim/bundle/vim-scripts-TagHighlight"]
	path = vim/bundle/vim-scripts-TagHighlight
	url = https://github.com/vim-scripts/TagHighlight.git
  ignore = dirty
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
  ignore = dirty
[submodule "vim/bundle/aaronjensen-vim-sass-status"]
	path = vim/bundle/aaronjensen-vim-sass-status
	url = https://github.com/aaronjensen/vim-sass-status.git
[submodule "vim/bundle/sirver-ultisnips"]
	path = vim/bundle/sirver-ultisnips
	url = https://github.com/SirVer/ultisnips.git
